$primary: #89c8bf;
$secondary: #ffffff;
$subtle: #a2a2a2;
$size-bezel: .5rem;
$size-radius: 4px;
$primary-dark: #045e51;
$primary-light: #e7fffc;
$subtle-light: #efefef;
$error: #cc3300;
$warning: #ffcc00;
$success: #99cc33;