.InsCourseListingParent{
    margin: auto;
    border: 1px solid $primary;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin-top: 7%;
    .courseItemsSection{
        .text1{
            color: $primary;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 5px;
            margin-left: 10px;
            margin-bottom: 15px;
        }
        .text2{
            color: $subtle;
            font-size: 14px;
            margin-left: 10px;
            margin-bottom: 15px;
        }
    }
    .courseItems{
        .MuiTypography-root{
            span{
                text-decoration: underline;
                margin-left: 10px;
                cursor: pointer;
            }
        }

    }
    .css-ahj2mt-MuiTypography-root{
        font-family: inherit;
    }
}