.assignmentParent{
    height: 83vh;
    background-color: $subtle-light;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    .header{
        .text1{
            color: $primary;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 5px;
            margin-left: 10px;
            margin-bottom: 15px;
        }
        .text2{
            color: $subtle;
            font-size: 14px;
            margin-left: 10px;
            margin-bottom: 15px;
        }
    }
    .assignmentComment{
        width: 47.8%;
        padding: 20px;
        background-color: $secondary;
        border-radius: 5px;
        .body{
            height: 57vh;
            overflow: auto;
        }
        .commentEl{
            margin-bottom: 2em;
            width: 80%;
            .userName{
                font-size: 16px;
                color: 8C8888;
                margin-bottom: 0.5em;
            }
            .commentBubble{
                background-color: $subtle-light;
                border-radius: 5px;
                padding: 20px;
                
                .currUser{
                    display: flex;
                    justify-content: space-between;
                }
                .time{
                    color: #8C8888;
                    font-size: 14px;
                    width: 100%;
                    text-align: right;
                    margin-top: 15px;
                }
                span{
                    margin-left: 10px;
                    cursor: pointer;
                    
                }
            }
            
        }
        //comment for other users
        .commentEl.elLeft{
            float: left;
        }
        //comment if logged in user added the comment
        .commentEl.elRight{
            float: right;
            .userName{
                text-align: right;
            }
        }
        .addCommentSection{
            form{
                position: relative;
            }
            input{
                padding: 10px 30px;
                background-color: $subtle-light;
                border-radius: 5px;
                border: none;
                outline: none;
                width: 91%;
                margin-top: 20px;
                font-family: inherit;
            }
            //submit the comment
            .submitComment{
                position: absolute;
                right: 1%;
                top: 40%;
                outline: none;
                border: none;
                
                span{
                    color: $primary;
                    margin-top: 3px;
                }
            }
            

        }
    }
    .assignmentDetsSubmit{
        width: 47.8%;
        .header{
            .text1{
                color: $primary;
                font-size: 24px;
                font-weight: 500;
                letter-spacing: 5px;
                margin-left: 10px;
                margin-bottom: 15px;
            }
            .text2{
                color: $subtle;
                font-size: 14px;
                margin-left: 10px;
            }
        }
        .assDets{
            padding: 20px;
            background-color: $secondary;
            border-radius: 5px;
            height: 50%;
        }
        .assSubmit{
            padding: 20px;
            background-color: $secondary;
            border-radius: 5px;
            height: 35%;
            margin-top: 20px;
            .text-input{
                margin: auto;
                margin-top: 2rem;
                margin-bottom: 2rem;
                width: 80%;
                .input {
                    
                    position: relative;
                    display: block;
        
                    &__label {
                      position: absolute;
                      left: 0;
                      top: 0;
                      padding: calc($size-bezel * 0.75) calc($size-bezel * .5);
                      margin: calc($size-bezel * 0.75 + 3px) calc($size-bezel * .5);
                      color: $subtle;
                      white-space: nowrap;
                      transform: translate(0, 0);
                      transform-origin: 0 0;
                      background: $secondary;
                      transition: transform 120ms ease-in;
                      font-size: 13px;
                      line-height: 1.2;
                      
                    }
                    &__field {
                      box-sizing: border-box;
                      display: block;
                      width: 100%;
                      border: 1.5px solid $primary;
                      padding: calc($size-bezel * 1.5) $size-bezel;
                      color: $subtle;
                      background: transparent;
                      border-radius: $size-radius;
                      
                      &:focus,
                      &:not(:placeholder-shown) {
                        & + .input__label {
                          transform: translate(.25rem, -65%) scale(.8);
                          color: $primary;
                          font-weight: 600;
                        //   opacity: 0.8;
                        }
                      }
                    }
                }
            }
            .button-input{
                margin: auto;
                width: 80%;
                input{
                    font-family: inherit;
                    border: 1px solid $primary;
                    outline: none;
                    width: 100%;
                    padding: 15px 15px;
                    transition: 0.5s;
                    background-size: 200% auto;
                    color: $secondary;
                    font-size: 15px;
                    background-image: linear-gradient(to right, #73cdb1 0%, #7ccebd 51%, #bce6de 100%);
                    background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
                    border-radius: 5px;
                    
                }
                input:hover {
                    background-position: right center; /* change the direction of the change here */
                }
                
            }
        }
        .assignmentDetsTable{
            table{
                margin-top: 30px;
                width: 100%;
                td{
                    padding-bottom: 20px;
                }
                .tableQ{
                    width: 50%;
                    font-weight: 500;
                }
                .tableA{
                    display: flex;
                    .StatusBadge{
                        height: 15px;
                        width: 15px;
                        border-radius: 10px;
                        background-color: $error;
                        margin-top: 2px;
                        margin-right: 7px;
                    }
                }
            }
            
        }
    }
}